/* banner section responsive */
@media screen and (max-width:600px) {
    .header{
       margin-left: 0%;
       gap:8px;
       white-space: nowrap;
       align-items: center;
       text-align: justify;
       font-size: 20px;
       
     
    }
    .logo{
        margin-left: 30px;
        margin-top: 10px;
        font-size: 15px;
    }
    .logo-heading{
      font-size: 30px;
      text-align: justify;
    }
    .first-banner{
        margin:-5px;
        
        
      }
.first-banner img{width:100%;}
.banner h3{
position: relative;
right: 15%;
font-size: 30px;


}
.banner span{
float: left;
width: 400px;
height: 70px;
white-space:wrap;
position: relative;
left:205px;
font-size: 14px;
}
 .input-box{
    
   
         margin-left:-40%;
         position: relative;
        
    flex-direction: column;
 }
 .banner{
  
   position: relative;
   top:-50px;
   left:200px;
   font-size:14px;
   margin: 5px;
 }
 .input-box{
    position: relative;
    top:20px;
    right: 100px;
   left: 150px;
 }
}
/* popular-tour responsive */
@media screen and (max-width:600px) {
  .popular-tours{
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    right:100px;
    text-align: justify;
   
  }
  .tour-image{
    margin-left:20px;
  }
  .tour-description{
    position: relative;
    right: 97px;
  }
  #list-type{
    position: relative;
    right: 70px;
  }
  
}
/* Choose part reponsive */
@media screen and (max-width:600px) {
  .choose{
    margin-left:5px;
    text-align: center;
  }
  .choose-container{
    flex-direction: column;
    margin-left: -15px;
  padding: 10px;
  width:fit-content;
  }
 
  .best-price{
    margin-left: -150px ;
    padding: 20px;
  }
}
/* offer part  */
@media screen and (max-width:600px) {
   .newspart{
    flex-direction: column;
    margin:10px;
   }
   
   .offer{
    position: relative;
left: 40%;
bottom:60px;
transform: rotate(-19.628deg);
   }
   .newsletter{
    width: 380px;
    padding:20px;
    
    width: 100%;
   }
   .newsletter input,button{
    width: 330px;
   }
 .newsletter-img{
  width: 230px;
height: 300px;
width: 100%;
 }
   /* footer part */
   .footer{
    height: 50px;
    width:100%;
   }
   .footer-logo{
    white-space: nowrap;
    padding-top: -120px;
   }
   .footer-desc{
    flex-wrap: nowrap;
    width: 100%;
    margin-top: -150px;
    margin-left: -380px;
   }
   .social-icon{
    margin-top: 10px;
   }
   .horizontal{
    margin: 10px;
    margin:0 50px;
   }
   .reserved{
    margin-top: 5px;
    white-space: nowrap;
   }
   
}